In [50]:
import pandas as pd

meta_data = pd.read_csv("splitterOut/item_metadata.csv")
meta_data

         item_id                                         properties
0           5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1           5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2           5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3           5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4           6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...
...          ...                                                ...
927137  11199990                                  House / Apartment
927138  11236100                                  House / Apartment
927139  11260526                                  House / Apartment
927140  11263712                                  House / Apartment
927141  11275316                                              Hotel

[927142 rows x 2 columns]

In [61]:
data_set = pd.read_csv("sortedTrain.csv")

In [51]:
def fastSplitting(df):#stack overflow ❤ 
    df2 = df.loc[df["properties"].str.contains("Good Rating")]
    s = df2["properties"].str.split('|', expand=True).stack()
    i = s.index.get_level_values(0)
    df3 = df.loc[i].copy()
    df3["properties"] = s.values
    return df3

traits = fastSplitting(meta_data).groupby('properties').count().sort_values(by=['item_id'],ascending=False).nlargest(70, 'item_id')

In [63]:
traits

0             Good_Rating
1     Satisfactory_Rating
2        Very_Good_Rating
3                Car_Park
4            WiFi_(Rooms)
             ...
65                Singles
66           Tennis_Court
67               Romantic
68                Massage
69          Sun_Umbrellas
Name: properties, Length: 70, dtype: object

In [54]:
import numpy as np
traits2 = traits.reset_index()
traits2 = traits2['properties'].str.replace(' ', '_')

In [55]:
traits2.values

array(['Good_Rating', 'Satisfactory_Rating', 'Very_Good_Rating',
       'Car_Park', 'WiFi_(Rooms)', 'Shower', 'Television',
       'WiFi_(Public_Areas)', 'Openable_Windows', 'Non-Smoking_Rooms',
       'Central_Heating', 'Air_Conditioning', 'Free_WiFi_(Combined)',
       'Hairdryer', 'Free_WiFi_(Rooms)', 'Hotel', 'Desk', 'Fridge',
       'Free_WiFi_(Public_Areas)', 'Business_Hotel', 'Terrace_(Hotel)',
       'Luxury_Hotel', 'From_2_Stars', 'Telephone', 'House_/_Apartment',
       'Electric_Kettle', 'Excellent_Rating', 'Restaurant',
       'Self_Catering', 'Family_Friendly', 'Satellite_TV',
       'Reception_(24/7)', 'Cot', 'From_3_Stars', 'Laundry_Service',
       'Computer_with_Internet', 'Cable_TV', 'Hotel_Bar',
       'Sitting_Area_(Rooms)', 'Washing_Machine', 'Microwave', 'Bathtub',
       'Ironing_Board', 'Pet_Friendly', 'Lift', 'Room_Service',
       'Hiking_Trail', 'Safe_(Hotel)', 'Conference_Rooms', 'Beach',
       'Swimming_Pool_(Combined_Filter)', 'Wheelchair_Accessible',
       'Safe_(Rooms)', 'Radio', 'Swimming_Pool_(Outdoor)', 'Deck_Chairs',
       'Bike_Rental', '3_Star', 'Balcony', 'Flatscreen_TV', 'Concierge',
       'Express_Check-In_/_Check-Out', 'Business_Centre', 'Gym',
       'Airport_Shuttle', 'Singles', 'Tennis_Court', 'Romantic',
       'Massage', 'Sun_Umbrellas'], dtype=object)

In [56]:
meta_data['properties'] = meta_data['properties'].str.replace(' ','_')
    
for i in traits.values:
    meta_data[i] = np.where( meta_data.properties.str.contains('|' + i + '|', regex=False), 1, 0)

In [57]:
meta_data

,item_id,properties,Good_Rating,Satisfactory_Rating,Very_Good_Rating,Car_Park,WiFi_(Rooms),Shower,Television,WiFi_(Public_Areas),...,Concierge,Express_Check-In_/_Check-Out,Business_Centre,Gym,Airport_Shuttle,Singles,Tennis_Court,Romantic,Massage,Sun_Umbrellas
0,5101,Satellite_TV|Golf_Course|Airport_Shuttle|Cosme...,1,1,0,1,1,1,1,1,...,0,1,1,1,1,0,1,0,0,0
1,5416,Satellite_TV|Cosmetic_Mirror|Safe_(Hotel)|Tele...,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,5834,Satellite_TV|Cosmetic_Mirror|Safe_(Hotel)|Tele...,1,1,1,1,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
3,5910,Satellite_TV|Sailing|Cosmetic_Mirror|Telephone...,1,1,0,1,0,1,1,1,...,1,0,0,0,0,0,1,0,0,0
4,6066,Satellite_TV|Sailing|Diving|Cosmetic_Mirror|Sa...,1,1,0,1,1,1,1,1,...,0,0,1,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927137,11199990,House_/_Apartment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927138,11236100,House_/_Apartment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927139,11260526,House_/_Apartment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927140,11263712,House_/_Apartment,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927141,11275316,Hotel,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
del meta_data["properties"]
meta_data

,item_id,Good_Rating,Satisfactory_Rating,Very_Good_Rating,Car_Park,WiFi_(Rooms),Shower,Television,WiFi_(Public_Areas),Openable_Windows,...,Concierge,Express_Check-In_/_Check-Out,Business_Centre,Gym,Airport_Shuttle,Singles,Tennis_Court,Romantic,Massage,Sun_Umbrellas
0,5101,1,1,0,1,1,1,1,1,1,...,0,1,1,1,1,0,1,0,0,0
1,5416,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,5834,1,1,1,1,1,1,0,1,1,...,0,0,0,0,0,1,0,0,0,0
3,5910,1,1,0,1,0,1,1,1,1,...,1,0,0,0,0,0,1,0,0,0
4,6066,1,1,0,1,1,1,1,1,1,...,0,0,1,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927137,11199990,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927138,11236100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927139,11260526,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927140,11263712,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
927141,11275316,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
meta_data.to_csv("splitterOut/hotelTraits.csv", index=False)